main {
	min-height: 85vh;
}
h4 {
	padding: 1rem;
}
.rating span {
	margin: 0.1rem;
}
h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}
a {
	text-decoration: inherit;
}
.createBtn {
	float: right;
}
/* Bootstrap css alter */
.ml-auto {
	margin-left: auto !important;
}
.btn-block {
	width: 100% !important;
}
.btn {
	margin-top: 2vh;
}
